body{
	width:560px;
	height:775px;
	font-family: '微軟正黑體','文泉驛微米黑', 'LiHei Pro', sans-serif;
	background-color: #FFF;
	border:#000 3px solid;
	border-radius: 8%;
	font-size: 20px;
	letter-spacing: 1px;
}

form{
	margin:25px 0 0 70px;
}

textarea{
	resize: none;
}

#Title input{
	margin-left: 16%;
	border-bottom: #837E7C 2px solid;
	border-top: #FFF 0px dashed;
	border-left: #FFF 0px dashed;
	border-right: #FFF 0px dashed;
}

#Unit input{
	margin-top: 3%;
	margin-left: 16%;
	border-bottom: #837E7C 2px solid;
	border-top: #FFF 0px dashed;
	border-left: #FFF 0px dashed;
	border-right: #FFF 0px dashed;
}

#Category select{
	margin-top: 6%;
	margin-left: 25%;
	width:100px;
}

#People input{
	margin-top: 3%;
	margin-left: 16%;
	border-bottom: #837E7C 2px solid;
	border-top: #FFF 0px dashed;
	border-left: #FFF 0px dashed;
	border-right: #FFF 0px dashed;
}


#Intro{
	margin-top: 5%;
}
#Intro textarea{
	height:60px;
	width:44%;
	margin-left: 7%;
}


#Content{
	margin-top: 5%;
}
#Content textarea{
	height:120px;
	width:320px;
	margin-left: 20px;
	margin-top: 1%;
}

#Timeline{
	margin-top: 5%;
	margin-bottom: 5%;
}
.T{
	margin-top: -7%;
}
.t, .p{
	margin-left: 35%;
	margin-top: 1%;
}
#Timeline input{
	border-bottom: #837E7C 2px solid;
	border-top: #FFF 0px dashed;
	border-left: #FFF 0px dashed;
	border-right: #FFF 0px dashed;
}

/*
#PeriodicTask{
	margin-top: 25px;
}
#PeriodicTask input{
	border-bottom: #837E7C 2px solid;
	border-top: #FFF 0px dashed;
	border-left: #FFF 0px dashed;
	border-right: #FFF 0px dashed;
}
.P{
	margin-top: -25px;
}
*/


#Picture{
	margin-top: 5%;
}

#Button{ /* 建立按鈕的div */
	margin: 3.5% 0 0 35%;
}
#Button button{
	font-size: 22px;
	width:100px;
}